
<body>
	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
			
				<img src="../../../assets/img/user.png" alt="">
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Login In </h2>
					</div>
					<div class="row">
						<form #login="ngForm" [formGroup]="angForm"  control="" class="form-group" (ngSubmit)="onClickSubmit(login.value)">
							<div class="row">
								<input type="text"
								 name="email"
								  id="email" 
								  formControlName="email"
								   class="form__input " 
								   [class.is-invalid]="userNameNoValido"
								   placeholder="Username">
							</div>
							<div class="row">
								
								<input 
								type="password" 
								name="password" 
								id="password" 
								formControlName="password" 
								class="form__input" 
								[class.is-invalid]="passwordNoValido"
								placeholder="Password">
							</div>
							
							<div class="row">
								<input type="checkbox" name="remember_me" id="remember_me" >
								<label for="remember_me">Remember Me!</label>
							</div>
							<div class="row">
								<input type="submit" value="Submit" class="btn" [disabled]="!angForm.valid">
							</div>




						</form>
					</div>
					<div class="row">
						<p>Don't have an account? <li  routerLinkActive="active"> <a [routerLink]="['/register']">Register Here</a></li> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	
</body>