<h1>Mascotas</h1>

<div class="container-fluid ">
    
    <div class="row justify-content-center">
        <div class="col-md-3" >
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h2 class="card-title">Filtrar</h2>
                    </div>
                      
                    <h5>Tamaño</h5>
                      <div   class="btn-group-vertical" role="group" aria-label="Filtrar tamaño">
                        <label>
                            <input type="checkbox" name="tamano" value="pequeno" [checked]="true"    (change)="onCheckboxChange($event)" > Pequeño
                        </label>
                        <label>
                            <input type="checkbox" name="tamano" value="mediano" [checked]="true"   (change)="onCheckboxChange($event)" > Mediano
                        </label>
                        <label>
                            <input type="checkbox" name="tamano" value="grande" [checked]="true"  (change)="onCheckboxChange($event)" > Grande
                        </label>
                        </div>

                        <h5>Sexo</h5>
                        <div class="btn-group-vertical" role="group" aria-label="Filtrar sexo">
                          <label>
                            <input type="radio" name="sexo" value="macho" (change)="onSexoChange('macho')"> Macho
                          </label>
                          <label>
                            <input type="radio" name="sexo" value="hembra" (change)="onSexoChange('hembra')"> Hembra
                          </label>
                          <label>
                            <input type="radio" name="sexo" value="" (change)="onSexoChange('')"> Todos
                          </label>
                        </div>
                

                    
                    
                </div>

                
            </div>
            <div class="col text-center fixed-button-container">
                <button class="btn btn-primary rounded-circle  btn-lg " [routerLink]="['/petup']">
                  <img class="imgupload" src="../../../assets/img/upload-solid.svg" alt="">
                </button>
              </div>
        
        </div> 
        <div class="col-md-8">
          <div style="overflow-y: scroll; height: 800px;">
            <div class="card-columns">
              <app-pet-tarjeta   [pets]="pet"  *ngFor="let pet of pets;" ></app-pet-tarjeta>

             </div>  

          </div>
            
        </div>
    </div>
</div>



