*{
    background-color:  #A8B3B7;
    
}
body {
    /* align-items: center;
    background: #D8AA96;
    color: rgba(0,0,0,.8);
    display: grid;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    justify-items: center;
    weight: 100vw; */
}

.signup-container {
    display: grid;
    grid-template-areas: "left right";
    max-width: 900px;
    padding: 5rem 5rem;
    height: 55rem;
    font-size: 25px;
}

.left-container {
    background: #225469;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 600px;
    
}


.left-container h1 i {
    background: #F7B1AB;
    border-radius: 50%;
    color: #807182;
    font-size: 24px;
    margin-right: 5px;
    padding: 10px;
    transform: rotate(-45deg);
}

.left-container .puppy {
    bottom: 20px;
    position: absolute;
    text-align: center;
}

.left-container .puppy:before {
    background: #807182;
    content: "";
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.left-container img {
    filter: sepia(100%);
    width: 70%;
}

.right-container {
    background: rgb(91, 176, 193);
    display: grid;
    grid-template-areas: "." ".";
    width: 500px;
}

.right-container h1:nth-of-type(1) {
    color: rgba(0,0,0,.8);
    font-size: 28px;
    font-weight: 600;
}

.right-container .set {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}


.right-container header {
    padding: 50px;
}

.right-container label,
.right-container .pets-photo {
    width: 176px;
}
