.styled-checkbox {
    /* Estilos para hacer los checkboxes más grandes */
    width: 2em;
    height: 2em;
  }
  
  .styled-checkbox:checked + .form-check-label:before {
    /* Estilos para agregar un color y animación cuando el checkbox está seleccionado */
    content: '\2713';
    background-color: #27a33e;
    border-color: #00ff6a;
    color: white;
    animation: checkbox-pulse 0.3s linear;
  }
  
  @keyframes checkbox-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
h1{
  text-align: center;
}

.fixed-button-container {
  height: 300px;
  position: fixed;
  right: 650px;
  bottom: 50px;
  z-index: 99; /* Opcional: ajusta el valor según sea necesario */
}

.imgupload {
  font-size: 120px; /* Ajusta el tamaño del botón según tus necesidades */
  width: 120px; /* Ajusta el ancho del botón según tus necesidades */
  height: 120px; /* Ajusta la altura del botón según tus necesidades */
}