<div  class="card card-rounded shadow">
    <img  src="{{ pets.img }}" class="card-img-top img-rounded   " alt="{{ pets.nombre}}" >
    <div class="line-color"></div>

    <div class="card-body">
        <div class="row">
            <div class="col">
                <h5 class="card-title">{{ pets.nombre }}</h5>
        
                <p class="card-text">{{ pets.biografia }}</p>
                <div class="row">
                   
                    <div class="col">
                        <h4>Tamaño</h4>
                        <h5>{{pets.tamano}}</h5>

                    </div>
                    <div class="col">
                        <h4>Edad</h4>
                        <h5>{{pets.edad}} Años</h5>
                        
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-outline-primary  w-50 h-40">
                        <a [routerLink]="['/pet', pets._id]" >Ver Ficha</a>
                    </button>
                    

                </div>

            </div>

        </div>
        
    </div>
</div>

              
                
                    
